@media (max-width: 768px){
    .form-col {
        margin-bottom: 15px;
    }
    .form-col:last-child{
       margin-bottom: 0px;
    }
    .form-group-submit,
    .title,
    .status-title{
        text-align: center;
    }
}
@media (max-width: 475px){
    .select-birthday{
        width: 25%;
    }
}